---
import "bootswatch/dist/cosmo/bootstrap.min.css";
import NavBar from "@components/NavBar.astro";
import { SEO } from "astro-seo";
import data from "../data.json";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/icon.png" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={title}
      description={description}
      canonical={Astro.url}
      openGraph={{
        basic: {
          title,
          type: "website",
          image,
          url: Astro.url,
        },
        optional: {
          description,
        },
      }}
      twitter={{
        card: "summary",
        site: `@${data.twitterId}`,
        creator: `@${data.twitterId}`,
        title,
        description,
        image,
      }}
    />
  </head>
  <body>
    <header>
      <NavBar brand={{ title, href: "/" }} />
    </header>
    <main class="container-sm">
      <h1>{title}</h1>
      <slot />
    </main>
  </body>
</html>
