---
import "bootswatch/dist/cosmo/bootstrap.min.css";
import NavBar from "@components/NavBar.astro";
import { SEO } from "astro-seo";
import { user } from "@components/github";

interface Props {
  title: string;
  description: string;
  image?: string;
  style?: string[];
  frontmatter?: Omit<Props, "frontmatter">;
}

const {
  title,
  description,
  image: relativeImage,
  style = [],
} = Astro.props.frontmatter ?? Astro.props;
const image = relativeImage
  ? new URL(relativeImage, Astro.url).href
  : user.avatar_url;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={title}
      description={description}
      canonical={Astro.url}
      openGraph={{
        basic: {
          title,
          type: "website",
          image,
          url: Astro.url,
        },
        optional: {
          description,
        },
      }}
      twitter={{
        card: "summary",
        site: `@${user.twitter_username}`,
        creator: `@${user.twitter_username}`,
        title,
        description,
        image,
      }}
    />
  </head>
  <body>
    <header>
      <NavBar
        brand={{ title: Astro.site.hostname, href: "/" }}
        items={[{ title: "About my research area", href: "/research" }]}
      />
    </header>
    <main class:list={["container-sm", ...style]}>
      <h1>{title}</h1>
      <slot />
    </main>
  </body>
</html>
